body {
  background : #f8f9fa;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  text-align: center;
  font-weight: bolder;
}

.ui.middle.aligned.image {
  display: block;
}

#title {
  font-size: x-large;
  font-weight: bold;
}

.searchBar {
  position: fixed;
  top: 45%;
  left: 27%;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.ui.input>input {
  width: 375px;
}

#buttonDiv{
  padding-left: 30px;
  transform: translateY(-3%);
}

.ui.table {
  text-align: center;
}